<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- BOOTSTRAP JS -->
<script src="/javascripts/bootstrap.min.js"></script>
<!-- CUSTOM JS -->
<script src="/javascripts/interactions.js"></script>
<script src="/javascripts/chart-script.js"></script>
</body>

</html>