<header>
    <input type="hidden" id="userId" value="<%= user.id %>"></span>
    <a href="/" id="logo">
        <img class="logo" src="../images/airplane.svg" alt="">
        <h1 class="logo">aBordo</h1>
    </a>
    <div id="top-right-menu">
        <div id="notifications">
            <img src="../images/sino.png" alt=" ">
        </div>

        <div id="user-options">
            <img src="../<%= user.picture %>" alt="avatar">
            <span>
                <p><%= user.forename + " " + user.surname %></p>
                <p>RESPONSÁVEL</p>
            </span>

            <div>
                <a href="/logout">Sair</a>
            </div>
        </div>
    </div>
</header>