<%- include("../partials/header.ejs", { title: "aBordo" }) %>
</head>

<body>
    <%- include("../partials/guardian-topMenu.ejs") %>

    <nav>
        <div class="navbar select">
            <select name="student" id="student" required></select>
            <select name="year" id="year" required></select>
            <select name="school" id="school" required></select>
            <select name="class" id="class" required disabled></select>
            <select name="subject" id="subject" required disabled>Disciplinas</select>
            <!-- <select id="term" name="academicTerm" form="form-attendance-sheet" required disabled></select> -->
        </div>

        <div class="navbar">
            <ul class="nav">
                <li><button id="btn-notific" type="button" disabled>Ver notificações</button></li>
                <li><button id="btn-justify" type="button" disabled>Justificar faltas</button></li>
            </ul>
        </div>
    </nav>

    <main id="home">
        <table class="table table-striped general">
            <thead>
                <tr>
                    <th style="width:30%" scope="col">Disciplinas</th>
                    <th style="width:10%" scope="col"></th>
                    <th style="width:30%" scope="col">Média Geral</th>
                    <th style="width:20%" scope="col">Presença</th>
                    <!-- <th style="width:10%" scope="col"></th> -->
                </tr>
            </thead>
            <tbody class="tbodyGeneral">
            <tbody>                
            </tbody>
            </tbody>
        </table>

        <section>
            <h2></h2>
            <p class="teacherName"></p>
            <table class="table table-striped subject">
                <thead>
                    <tr>
                        <th style="width:30%" scope="col">Período</th>
                        <th style="width:10%" scope="col">Média</th>
                        <th style="width:30%" scope="col"></th>
                        <th style="width:20%" scope="col">Presença</th>
                        <!-- <th style="width:10%" scope="col">@</th> -->
                    </tr>
                </thead>
                <tbody class="tbodySubject">                    
                </tbody>
            </table>
        </section>
    </main>

    <script src="../../javascripts/guardian.js"></script>
    <%- include("../partials/footer.ejs") %>