<%- include("../partials/header.ejs", { title: "aBordo - Fazer chamada" }) %>
</head>

<body>
    <%- include("../partials/guardian-topMenu.ejs") %>

    <nav>
        <div class="navbar select">
            <select name="student" id="student" required></select>
            <select name="year" id="year" required></select>
            <select name="school" id="school" required></select>
            <select name="class" id="class" required disabled></select>
            <select name="subject" id="subject" required disabled>Disciplinas</select>
            <select id="term" name="academicTerm" form="form-attendance-sheet" required disabled></select>
        </div>

        <div class="navbar">
            <ul class="nav">
                <li><button id="btn-contact" type="button" disabled>Ver notificações</button></li>
                <li><button id="btn-justify" type="button" disabled>Justificar faltas</button></li>
            </ul>
        </div>
    </nav>

    <main id="home">
        
    </main>

    <script src="../../javascripts/guardian.js"></script>
    <%- include("../partials/footer.ejs") %>