<%- include("partials/header.ejs", { title: "Realizar Chamada" }) %>
</head>

<div class="container-fluid">
  <header>
    <h1>aBordo</h1>

    <div>
      <img class="notification" src="../../images/sino.png" alt=" ">
    </div>
  </header>

  <nav>
    <div class="navbar select">
      <select name="school" id="school" required>
        <option value="" disabled selected>Nome da escola</option>
        <option value="0">Colégio Pedro II</option>
        <option value="1">Escola Técnica Estadual do Ensino Fundamental Visconde de Mauá
      </select>

      <select name="class" id="class" required>
        <option value="" disabled selected>Turma [nº da turma]</option>
        <option value="0000">0000</option>
        <option value="0001">0001</option>
      </select>

      <select id="course" name="course" required>
        <option value="" disabled selected>Nome da disciplina</option>
        <option value="arts">Artes</option>
        <option value="biology">Biologia</option>
        <option value="sciences">Ciências</option>
        <option value="phys-ed">Educação Física</option>
        <option value="philosophy">Filosofia</option>
        <option value="physics">Física</option>
        <option value="geography">Geografia</option>
        <option value="geomethy">Geometria</option>
        <option value="history">História</option>
        <option value="literature">Literatura</option>
        <option value="math">Matemática</option>
        <option value="music">Música</option>
        <option value="spanish-lang">Língua Espanhola</option>
        <option value="french-lang">Língua Francesa</option>
        <option value="english-lang">Língua Inglesa</option>
        <option value="portuguese-lang">Língua Portuguesa</option>
        <option value="chemistry">Química</option>
        <option value="writing">Redação</option>
        <option value="sociology">Sociologia</option>
        <option value="drama">Teatro</option>
      </select>

      <select name="period" id="period" required>
        <option value="1" selected>1º Trimestre</option>
        <option value="2">2º Trimestre</option>
        <option value="3">3º Trimestre</option>
      </select>
    </div>
    <div class="navbar">
      <ul class="nav">
        <li><a class="nav-link active" href="#">
            Fazer chamada
          </a></li>
        <li><a class="nav-link" href="http://localhost:3000/lancar-notas">
            Lançar notas
          </a></li>
        <li><a class="nav-link" href="http://localhost:3000/ver-diario-de-classe">
            Diário de classe
          </a></li>
        <li><a class="nav-link" href="#">
            Estatísticas
          </a></li>
        <li><a class="nav-link" href="#">
            Contatar responsáveis
          </a></li>
      </ul>
    </div>
  </nav>

  <main class="attendance-content">
    <section class="attendance-selector row">
      <div class="selectors col-sm-4">
        <input type="date" id="data" name="data" class="form-control datepicker" />
        <select name="tempos-aula" id="tempos-aula" class="form-control">
          <option selected disabled>Tempos de Aula</option>
          <option value="1º">01 Tempos de Aula</option>
          <option value="2º">02 Tempos de Aula</option>
        </select>
      </div>
      <div class="observation col-sm-8">
        <textarea placeholder="Observações" class="form-control observations" id="observations" name="observations"
          rows=4></textarea>
        <input type="checkbox">Dia de Avaliação</input>
      </div>
    </section>
    <section class="attendance-table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nº</th>
            <th colspan="2">ALUNO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>01</th>
            <td>João de Oliveira da Silva Santos</td>
            <td>
              <button class="table-button -checked">P</button>
              <button class="table-button -checked">P</button>
              <button class="table-button -absent -checked">F</button>
            </td>
          </tr>
          <tr>
            <th>01</th>
            <td>João de Oliveira da Silva Santos</td>
            <td>
              <button class="table-button">PRESENTE</button>
              <button class="table-button -absent">FALTOU</button>
              <button class="table-button -late">ATRASADO</button>
            </td>
          </tr>
          <tr>
            <th>01</th>
            <td>João de Oliveira da Silva Santos</td>
            <td>
              <button class="table-button">PRESENTE</button>
              <button class="table-button -absent">FALTOU</button>
              <button class="table-button -late">ATRASADO</button>
            </td>
          </tr>
          <tr>
            <th>01</th>
            <td>João de Oliveira da Silva Santos</td>
            <td>
              <button class="table-button">PRESENTE</button>
              <button class="table-button -absent">FALTOU</button>
              <button class="table-button -late">ATRASADO</button>
            </td>
          </tr>
          <tr>
            <th>01</th>
            <td>João de Oliveira da Silva Santos</td>
            <td>
              <button class="table-button">PRESENTE</button>
              <button class="table-button -absent">FALTOU</button>
              <button class="table-button -late">ATRASADO</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
</div>

<%- include("partials/footer.ejs") %>