<%- include("partials/header.ejs", {title: "aBordo - Diário de classe"}) %>
<!-- DAILY STYLE -->
<link rel="stylesheet" href="/stylesheets/styleDaily.css">
<script
  src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
<script
  src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
<script
  src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
<link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"
  type="text/css" rel="stylesheet">
<link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"
  type="text/css" rel="stylesheet">
</head>

<body>
  <header>
    <h1>aBordo</h1>
  </header>

  <!-- <nav>
    <div class="navbar">
      <ul class="nav">
        <div class="divSelect">
          <select id="school" name="school" required>
            <option value="" disabled selected>Nome da escola</option>
            <option value="0">Colégio Pedro II</option>
            <option value="1">Escola Técnica Estadual do Ensino Fundamental Visconde de Mauá
            </option>
          </select>

          <select id="class" name="class" required>
            <option value="" disabled selected>N° da turma</option>
            <option value="1">1°</option>
            <option value="2">2°</option>
          </select>

          <select id="course" name="course" required>
            <option value="" disabled selected>Nome da disciplina</option>
            <option value="arts">Artes</option>
            <option value="biology">Biologia</option>
            <option value="sciences">Ciências</option>
            <option value="phys-ed">Educação Física</option>
            <option value="philosophy">Filosofia</option>
            <option value="physics">Física</option>
            <option value="geography">Geografia</option>
            <option value="geomethy">Geometria</option>
            <option value="history">História</option>
            <option value="literature">Literatura</option>
            <option value="math">Matemática</option>
            <option value="music">Música</option>
            <option value="spanish-lang">Língua Espanhola</option>
            <option value="french-lang">Língua Francesa</option>
            <option value="english-lang">Língua Inglesa</option>
            <option value="portuguese-lang">Língua Portuguesa</option>
            <option value="chemistry">Química</option>
            <option value="writing">Redação</option>
            <option value="sociology">Sociologia</option>
            <option value="drama">Teatro</option>
          </select>

          <select name="period" id="period" required>
            <option value="1" selected>1º Trimestre</option>
            <option value="2">2º Trimestre</option>
            <option value="3">3º Trimestre</option>
          </select>
        </div>

        <li><a class="nav-link" href="http://localhost:3000/fazer-chamada">
            Fazer chamada
          </a></li>
        <li><a class="nav-link" href="http://localhost:3000/lancar-notas">
            Lançar notas
          </a></li>
        <li><a class="nav-link active" href="#">
            Diário de classe
          </a></li>
        <li><a class="nav-link" href="#">
            Estatísticas
          </a></li>
        <li><a class="nav-link" href="#">
            Contatar responsáveis
          </a></li>
      </ul>
    </div>
  </nav> -->

  <nav>
    <div class="navbar select">
      <select name="school" id="school" required>
        <option value="" disabled selected>Nome da escola</option>
        <option value="0">Colégio Pedro II</option>
        <option value="1">Escola Técnica Estadual do Ensino Fundamental Visconde de Mauá
      </select>

      <select name="class" id="class" required>
        <option value="" disabled selected>Turma [nº da turma]</option>
        <option value="0000">0000</option>
        <option value="0001">0001</option>
      </select>

      <select id="course" name="course" required>
        <option value="" disabled selected>Nome da disciplina</option>
        <option value="arts">Artes</option>
        <option value="biology">Biologia</option>
        <option value="sciences">Ciências</option>
        <option value="phys-ed">Educação Física</option>
        <option value="philosophy">Filosofia</option>
        <option value="physics">Física</option>
        <option value="geography">Geografia</option>
        <option value="geomethy">Geometria</option>
        <option value="history">História</option>
        <option value="literature">Literatura</option>
        <option value="math">Matemática</option>
        <option value="music">Música</option>
        <option value="spanish-lang">Língua Espanhola</option>
        <option value="french-lang">Língua Francesa</option>
        <option value="english-lang">Língua Inglesa</option>
        <option value="portuguese-lang">Língua Portuguesa</option>
        <option value="chemistry">Química</option>
        <option value="writing">Redação</option>
        <option value="sociology">Sociologia</option>
        <option value="drama">Teatro</option>
      </select>

      <select name="period" id="period" required>
        <option value="1" selected>1º Trimestre</option>
        <option value="2">2º Trimestre</option>
        <option value="3">3º Trimestre</option>
      </select>
    </div>
    <div class="navbar">
      <ul class="nav">
        <li><a class="nav-link" href="http://localhost:3000/fazer-chamada">
            Fazer chamada
          </a></li>
        <li><a class="nav-link" href="http://localhost:3000/lancar-notas">
            Lançar notas
          </a></li>
        <li><a class="nav-link active" href="#">
            Diário de classe
          </a></li>
        <li><a class="nav-link" href="#">
            Estatísticas
          </a></li>
        <li><a class="nav-link" href="#">
            Contatar responsáveis
          </a></li>
      </ul>
    </div>
  </nav>

  <main>
    <section id="search-items">
      <section id="chart" class="row">
        <div class="col-3">
          <select id="period" name="period" required>
            <option value="1t">1° Trimestre</option>
            <option value="2t">2° Trimestre</option>
            <option value="3t">3° Trimestre</option>
            <option value="1b">1° Bimestre</option>
            <option value="2b">2° Bimestre</option>
            <option value="3b">3° Bimestre</option>
            <option value="4b">4° Bimestre</option>
            <option value="MF">Média final</option>
          </select>

          <li><a class="nav-link" id="chamada" onclick="mostrarChamada()">
              Chamada
            </a></li>
          <li><a class="nav-link" id="nota" onclick="mostrarNota()">
              Notas
            </a></li>
        </div>

        <section class="col-5">
          <select id="set-search" name="set-search" required>
            <option value="" disabled selected>Ordenar alunos por:</option>
            <option value="number">N° do Aluno</option>
            <option value="name">Nome do Aluno</option>
            <option value="presence">Presença do Aluno</option>
            <option value="highest-grade">Por maior nota</option>
            <option value="lowest-grade">Por menor nota</option>
          </select>
        </section>

        <div id="container" class="col-4"></div>
      </section>
    </section>

    <section id="content">
      <table class="table table-striped" id="presence">
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Aluno</th>
            <th scope="col">Seg. 04/05</th>
            <th scope="col">Ter. 05/05</th>
            <th scope="col">Qua. 06/05</th>
            <th scope="col">Qui. 07/05</th>
            <th scope="col">Sex. 08/05</th>
            <th scope="col">Seg. 11/05</th>
            <th scope="col">Ter. 12/05</th>
            <th scope="col">Qua. 13/05</th>
            <th scope="col">Qui. 14/05</th>
            <th scope="col">Sex. 15/05</th>
            <th scope="col">Seg. 11/05</th>
            <th scope="col">Ter. 12/05</th>
            <th scope="col">Qua. 13/05</th>
            <th scope="col">Qui. 14/05</th>
            <th scope="col">Sex. 15/05</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>João de Oliveira da Silva Santos</td>
            <td>
              <div class="panel-heading">
              </div>
              <div class="panel-body">
                <button type="button" class="btn btn-primary btn-circle">P<i class="fa fa-list"></i>
                </button>
              </div>
            </td>
            <td>
              <div class="panel-heading">
              </div>
              <div class="panel-body">
                <button type="button" class="btn btn-primary btn-circle">P<i class="fa fa-list"></i>
                </button>
              </div>
            </td>
            <td>
              <div class="panel-heading">
              </div>
              <div class="panel-body">
                <button type="button" class="btn btn-primary btn-circle">P<i class="fa fa-list"></i>
                </button>
              </div>
            </td>
            <td>
              <div class="panel-heading">
              </div>
              <div class="panel-body">
                <button type="button" class="btn btn-primary btn-circle">P<i class="fa fa-list"></i>
                </button>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>João de Oliveira da Silva Santos</td>
            <td>
              <div class="panel-heading">
              </div>
              <div class="panel-body">
                <button type="button" class="btn btn-primary btn-circle">P<i class="fa fa-list"></i>
                </button>
              </div>
            </td>
            <td>
              <div class="panel-heading">
              </div>
              <div class="panel-body">
                <button type="button" class="btn btn-primary btn-circle">P<i class="fa fa-list"></i>
                </button>
              </div>
            </td>
            <td>
              <div class="panel-heading">
              </div>
              <div class="panel-body">
                <button type="button" class="btn btn-primary btn-circle">P<i class="fa fa-list"></i>
                </button>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>
              <div class="panel-heading">
              </div>
              <div class="panel-body">
                <button type="button" class="btn btn-primary btn-circle">P<i class="fa fa-list"></i>
                </button>
              </div>
            </td>
            <td>
              <div class="panel-heading">
              </div>
              <div class="panel-body">
                <button type="button" class="btn btn-primary btn-circle">P<i class="fa fa-list"></i>
                </button>
              </div>
            </td>
            <td>
              <div class="panel-heading">
              </div>
              <div class="panel-body">
                <button type="button" class="btn btn-primary btn-circle">P<i class="fa fa-list"></i>
                </button>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Larry</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Larry</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Larry</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Larry</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Larry</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Larry</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Larry</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>Larry</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <table class="table table-striped" id="notes" hidden>
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Aluno</th>
            <th scope="col">1° Avaliação</th>
            <th scope="col">2° Avaliação</th>
            <th scope="col">3° Avaliação</th>
            <th scope="col">4° Avaliação</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>João de Oliveira da Silva Santos</td>
            <td>6</td>
            <td>5</td>
            <td>4</td>
            <td>3</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>João de Oliveira da Silva Santos</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Larry</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Larry</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Larry</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Larry</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Larry</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Larry</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Larry</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>Larry</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
</body>
<%- include("partials/footer.ejs") %>