<%- include("partials/header.ejs", { title: "aBordo - Lançar notas" }) %>
<link rel='stylesheet' href='/stylesheets/set-notes.css' />
</head>

<body>
  <header>
    <h1>aBordo</h1>

    <div id="top-right-menu">
      <div id="notifications">
        <img src="../images/sino.png" alt=" ">
      </div>

      <div id="user-options">
        <img src="../images/professor.png" alt="">
        <span>
          <p>Nome do professor</p>
          <p>PROFESSOR</p>
        </span>
      </div>
    </div>
  </header>

  <nav>
    <div class="navbar select">
      <select name="school" id="school" required>
        <option value="" disabled selected>Escola</option>
        <option value="0">Colégio Pedro II</option>
        <option value="1">Escola Técnica Estadual do Ensino Fundamental Visconde de Mauá
      </select>

      <select name="class" id="class" required>
        <option value="" disabled selected>Turma</option>
        <option value="2223">Turma 2223</option>
        <option value="1121">Turma 1121</option>
      </select>

      <select id="course" name="course" required>
        <option value="" disabled selected>Disciplina</option>
        <option value="arts">Artes</option>
        <option value="biology">Biologia</option>
        <option value="sciences">Ciências</option>
        <option value="phys-ed">Educação Física</option>
        <option value="philosophy">Filosofia</option>
        <option value="physics">Física</option>
        <option value="geography">Geografia</option>
        <option value="geomethy">Geometria</option>
        <option value="history">História</option>
        <option value="literature">Literatura</option>
        <option value="math">Matemática</option>
        <option value="music">Música</option>
        <option value="spanish-lang">Língua Espanhola</option>
        <option value="french-lang">Língua Francesa</option>
        <option value="english-lang">Língua Inglesa</option>
        <option value="portuguese-lang">Língua Portuguesa</option>
        <option value="chemistry">Química</option>
        <option value="writing">Redação</option>
        <option value="sociology">Sociologia</option>
        <option value="drama">Teatro</option>
      </select>

      <select name="term" id="term" required>
        <option value="" disabled selected>Trimestre</option>
        <option value="1">1º Trimestre</option>
        <option value="2">2º Trimestre</option>
        <option value="3">3º Trimestre</option>
      </select>
    </div>

    <div class="navbar">
      <ul class="nav">
        <li><a class="nav-link" href="/fazer-chamada">
            Fazer chamada
          </a></li>
        <li><a class="nav-link active" href="#">
            Lançar notas
          </a></li>
        <li><a class="nav-link" href="/ver-diario-de-classe">
            Diário de classe
          </a></li>
        <li><a class="nav-link" href="#">
            Estatísticas
          </a></li>
        <li><a class="nav-link" href="#">
            Contatar responsáveis
          </a></li>
      </ul>
    </div>
  </nav>

  <main id="grade">
    <section class="table-settings">

      <div class="selectors">
        <p>Quantidade de avaliações <br> neste trimestre:</p>
        <select name="qnt-bars" id="qnt-bars">
          <option value="1">1 avaliação</option>
          <option value="2">2 avaliações</option>
          <option value="3">3 avaliações</option>
          <option value="4">4 avaliações</option>
          <option value="5">5 avaliações</option>
          <option value="6">6 avaliações</option>
        </select>
      </div>

      <div class="chart">
        <div id="instructions">
          <p>Valor de cada avaliação:</p>
          <div id="disclaimer"></div>
        </div>
        <div id="input-fields"></div>
        <div id="container"></div>
        <div id="disclaimer"></div>
      </div>

    </section>

    <section class="table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="student-id">Nº</th>
            <th class="student-name">ALUNO</th>
            <th>AVAL. 1</th>
            <th>AVAL. 2</th>
            <th>AVAL. 3</th>
            <th>AVAL. 4</th>
            <th class="not-evaluated">N/A</th>
            <th class="avg">MÉDIA</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 1; i <= 10; i++) { %>
          <tr>
            <td class="student-id"><%= i %></th>
            <td class="student-name">João de Oliveira da Silva Santos</td>
            <td><input type="number" max="10" min="0" step="0.5" placeholder="Nota" disabled></td>
            <td><input type="number" max="10" min="0" step="0.5" placeholder="Nota" disabled></td>
            <td><input type="number" max="10" min="0" step="0.5" placeholder="Nota" disabled></td>
            <td><input type="number" max="10" min="0" step="0.5" placeholder="Nota" disabled></td>
            <td class="not-evaluated"><label for="not-evaluated" class="checkbox-container">
                <input type="checkbox" name="not-evaluated" id="not-evaluated" />
                <span class="checkmark"></span>
              </label></td>
            <td class="avg">0.0</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </section>
  </main>

  <%- include("partials/footer.ejs") %>