<%- include("../partials/header.ejs", { title: "aBordo - Docente" }) %>
</head>

<body>
    <%- include("../partials/teacher-topMenu.ejs") %>

    <nav>
        <div class="navbar select">
            <select id="school" required></select>
            <select id="class" required disabled></select>
            <select id="subject" required disabled></select>
            <select id="term" name="academicTerm" form="form-attendance-sheet" required disabled></select>
        </div>

        <div class="navbar">
            <ul class="nav">
                <li><button id="btn-attendance-sheet" type="button" disabled>Fazer chamada</button></li>
                <li><button id="btn-gradebook" type="button" disabled>Lançar notas</button></li>
                <li><button id="btn-records" type="button" disabled>Diário de classe</button></li>
                <li><button id="btn-statistics" type="button" disabled>Estatísticas</button></li>
                <li><button id="btn-contact" type="button" disabled>Contactar responsáveis</button></li>
            </ul>
        </div>
    </nav>




    <main id="home">
        <ul id="ul-students"></ul>
    </main>




    <main id="attendance-sheet" hidden>
        <form id="form-attendance-sheet" action="/professor/fazer-chamada" method="POST">

            <section id="lesson">
                <input type="hidden" name="courseId" id="input-courseId" required>
                <div class="selectors">
                    <input type="date" name="date" id="date" required
                        value=<%= new Date().toISOString().substr(0, 10) %> />
                    <select name="periods" id="periods" required>
                        <option selected disabled>Tempos de aula</option>
                        <option value="1">1 tempo</option>
                        <option value="2">2 tempos</option>
                        <option value="3">3 tempos</option>
                        <option value="4">4 tempos</option>
                        <option value="5">5 tempos</option>
                    </select>
                </div>
                <textarea name="observations" id="observations" placeholder="Observações"></textarea>
            </section>

            <section id="set-evaluation">
                <div id="evaluation-info"></div>
                <label class="checkbox-container">Dia de avaliação
                    <input type="checkbox" id="evaluation-day" />
                    <span class="checkmark"></span>
                </label>
            </section>

            <section class="table">
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th class="student-number">Nº</th>
                            <th class="student-name">ALUNO</th>
                            <th class="attendance-check"></th>
                        </tr>
                    </thead>
                    <tbody id="tbody-attendance-sheet"></tbody>
                </table>
            </section>

            <button type="submit" class="special">Salvar</button>

        </form>
    </main>




    <main id="grade" hidden>
        <form action="/professor/lancar-nota" method="POST">

            <section class="table-settings">
                <div class="selectors">
                    <!-- OBS. CHANGE SELECT ID -->
                    <select name="evaluation" id="qnt-bars">
                        <!-- <option selected disabled>Selecione uma avaliação</option>
                        <%# evaluations.forEach(evaluation => { %>
                        <option value=<%#= evaluation.number %>>
                            <%#= evaluation.title %>
                        </option>
                        <%# }) %>
                        <option value="+">Adicionar uma nova avaliação</option>
                        <option value="-" disabled>Excluir avaliação selecionada</option> -->
                    </select>
                </div>

                <div class="chart">
                    <div id="instructions">
                        <p>Valor de cada avaliação:</p>
                        <div id="disclaimer"></div>
                    </div>
                    <div id="input-fields">
                        <!-- <%# evaluations.forEach(evaluation => { %>
                        <div>
                            <label class="title" style=<%#= "color:" + evaluation.color %>> <%#= evaluation.title %>
                            </label>
                            <input class="<%#= 'max-grade evaluation' + evaluation.number %>" type='number'
                                value="<%#= evaluation.maxGrade.toFixed(1) %>" step='0.5' min='0' max='10'
                                name=<%#= "max-grade-evaluation" + evaluation.number %>>
                        </div>
                        <%# }) %> -->
                    </div>
                    <div id="container">
                        <!-- <%# evaluations.forEach(evaluation => { %>
                        <div class="<%#= 'bar evaluation' + evaluation.number %>"
                            style="<%#= 'width:' + Math.round(100 * (evaluation.maxGrade / possibleTotalPoints)) + '%; background-color:' + evaluation.color %>">
                        </div>
                        <%# }) %> -->
                    </div>
                </div>
            </section>

            <section class="table">
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th class="student-number">Nº</th>
                            <th class="student-name">ALUNO</th>

                            <%# evaluations.forEach(evaluation => { %>
                            <th class="<%#= 'evaluation evaluation' + evaluation.id %>"><label class="title"
                                    style=<%#= 'color:' + evaluation.color %>><%#= evaluation.title %></label></th>
                            <%# }) %>

                            <th class="not-evaluated" id="not-evaluated-header">N/A</th>
                            <th class="term-final-grade">MÉDIA</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-gradebook">
                        <%# students.forEach(student => { %>
                        <tr>
                            <td class="student-number"><%#= student.number %></th>
                            <td class="student-name"><%#= student.name %></td>


                            <%# evaluations.forEach(evaluation => { 
                            this.student_id = student.id;
                            %>

                            <td class="<%#= 'evaluation evaluation' + evaluation.id %>" %>>
                                <input type="number" name=<%#= "student" + student.id + "-grades[]" %> max="10" min="0"
                                    step="0.5" value="<%#= evaluation.grade %>" placeholder="Nota" disabled></td>

                            <%# }) %>


                            <td class="not-evaluated" id=<%#= "student" + student.id + "not-evaluated-check" %>>
                                <label for="not-evaluated" class="checkbox-container">
                                    <input type="checkbox" name="not-evaluated" id="not-evaluated" />
                                    <span class="checkmark"></span>
                                </label>
                            </td>

                            <%# 
                                let totalPoints = 0;
                                let gradedEvaluations = 0;
                                evaluations.forEach(evaluation => {
                                    if(evaluation.grade != null) {
                                    totalPoints += Number(evaluation.grade);
                                    gradedEvaluations++;
                                    }
                                });
                            %>
                            <td class="term-final-grade" id=<%#= "student" + student.id + "-term-final-grade" %>>
                                <%#= Math.round(totalPoints / gradedEvaluations).toFixed(1) %> </td>
                        </tr>
                        <%# }) %>
                    </tbody>
                </table>
            </section>

            <button type="submit" class="special">Salvar</button>
        </form>
    </main>

    <script src="../../javascripts/teacher.js"></script>
    <%- include("../partials/footer.ejs") %>