/* TABLE-SETTINGS SECTION */

div.switch-table {
    width: 30%;
    display: flex;
    flex-direction: column;
}

div.switch-table button { width: 100%; }
div.switch-table button:first-child { margin-bottom: .75rem; }

div.selectors {
    width: 30%;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
}

div.selectors select { width: 100%; }

div.chart { width: 40%; }
div#chart { opacity: 0; }

/* TABLE SECTION */

/* CREATE VERTICAL LINES */
th, td { border-right: 2px solid #eaeaea; }
th:first-child, td:first-child { border-right: none; }

/* GRADE TABLE */

th div{ font-size: .75rem; }

/* ATTENDANCE TABLE */

td div.attendance {
    height: 36px;
    display: flex;
    align-items: center;
}

div.attendance span {
    min-width: 2.25rem;
    height: 2.25rem;
    border-radius: 2.25rem;
    
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: 700;
}

div.attendance span.present { background-color: #30C1F9; }
div.attendance span.absent { background-color: #fe539b; }
div.attendance span.late { background-color: #ffcc33; }